/* 
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/


:root {
    --yellow: #EEC80C;
    --orange: #E86E00;
    --bitcoinOrange: ##f79013;
    --degradado: linear-gradient(207.8deg, #201E1C 16.69%, #f79013 100%);
    --blue: #0B8AFF;
    --secBlue: #1A9AF7;
    --softblue: #E7F5FF;
    --warmBlackP: #282623;
    --warmBlack: #201E1C;
    --grey: #BABABA;
    --offWhite: #FAF8F7;
    --white: #FFFFFF;
    --softOrange: #FFE9D5;
    --greenLight: #0CEEC8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: var(--degradado);
}

header img {
    width: 150px;
    height: 24px;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 15rem;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--white);   
}

.header__title-container p {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 25px;
    color: var(--white);
}

.header__button {
    position: absolute;
    top: 270px;
    left: calc(50% - 115.5px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background: var(--offWhite);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--warmBlack);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/Vector-black.svg");
}

main {
    width: 100%;
    height: auto;
    background-color: var(--offWhite);
}

main .main__exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;   
}

.main__exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main__exchange-container .main__background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/icons/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warmBlackP);
}

.main__exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}